<section class="phx-hero">
  <h1>Todo List</h1>
  <form phx-submit="new-task">
    <input type="text" name="m" value="<%= @msg %>" placeholder="write a msg" />
  </form>
  <h1>Items</h1>
  <%= for msg <- @messages do %>
  <div class="todo-item-row">
    <h3><%= msg %></h3>
    <button value="msg" phx-click="remove-task">x</button>
    </div>
  <% end %>
</section>
